In [1]:
from pyspark.sql import SparkSession
import psycopg2
import pandas as pd
import os
from pyspark.sql import SparkSession
from sqlalchemy import create_engine
from pyspark import SparkConf

# initialise sparkContext

spark = SparkSession.builder.config("spark.jars", "postgresql-42.2.5.jar")\
    .config("spark.jars.packages","org.postgresql:postgresql:42.2.5")\
    .config('spark.driver.maxResultSize','20g').config("spark.executor.memory", "20g")\
    .config("spark.driver.memory","20g").config("spark.executor.memory","20g")\
    .config("spark.shuffle.file.buffer",'40').config("spark.scheduler.listenerbus.eventqueue.capacity","10000000")\
    .master("local").appName("tinkof-invest").getOrCreate()
spark.conf.set("spark.sql.execution.arrow.enabled", True)
spark.sparkContext.setLogLevel("ERROR")
spark

22/05/20 16:41:25 WARN Utils: Your hostname, nikolay resolves to a loopback address: 127.0.1.1; using 192.168.1.3 instead (on interface wlp2s0)
22/05/20 16:41:25 WARN Utils: Set SPARK_LOCAL_IP if you need to bind to another address
WARNING: An illegal reflective access operation has occurred
WARNING: Illegal reflective access by org.apache.spark.unsafe.Platform (file:/home/nikolay/anaconda3/lib/python3.7/site-packages/pyspark/jars/spark-unsafe_2.12-3.2.1.jar) to constructor java.nio.DirectByteBuffer(long,int)
WARNING: Please consider reporting this to the maintainers of org.apache.spark.unsafe.Platform
WARNING: Use --illegal-access=warn to enable warnings of further illegal reflective access operations
WARNING: All illegal access operations will be denied in a future release

:: loading settings :: url = jar:file:/home/nikolay/anaconda3/lib/python3.7/site-packages/pyspark/jars/ivy-2.5.0.jar!/org/apache/ivy/core/settings/ivysettings.xml

Ivy Default Cache set to: /home/nikolay/.ivy2/cache
The jars for the packages stored in: /home/nikolay/.ivy2/jars
org.postgresql#postgresql added as a dependency
:: resolving dependencies :: org.apache.spark#spark-submit-parent-97c7dcf5-da34-4cca-96ea-8251517d7d68;1.0
	confs: [default]
	found org.postgresql#postgresql;42.2.5 in central
:: resolution report :: resolve 162ms :: artifacts dl 6ms
	:: modules in use:
	org.postgresql#postgresql;42.2.5 from central in [default]
	---------------------------------------------------------------------
	|                  |            modules            ||   artifacts   |
	|       conf       | number| search|dwnlded|evicted|| number|dwnlded|
	---------------------------------------------------------------------
	|      default     |   1   |   0   |   0   |   0   ||   1   |   0   |
	---------------------------------------------------------------------
:: retrieving :: org.apache.spark#spark-submit-parent-97c7dcf5-da34-4cca-96ea-8251517d7d68
	confs: [default]
	0 artifacts copied, 1 already retrieved (0kB/9ms)
22/05/20 16:41:26 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable
Using Spark's default log4j profile: org/apache/spark/log4j-defaults.properties
22/05/20 16:41:26 WARN DependencyUtils: Local jar /home/nikolay/Projects/tinkoff-invest/Collect_data/postgresql-42.2.5.jar does not exist, skipping.
22/05/20 16:41:26 INFO SparkContext: Running Spark version 3.2.1
22/05/20 16:41:26 INFO ResourceUtils: ==============================================================
22/05/20 16:41:26 INFO ResourceUtils: No custom resources configured for spark.driver.
22/05/20 16:41:26 INFO ResourceUtils: ==============================================================
22/05/20 16:41:26 INFO SparkContext: Submitted application: tinkof-invest
22/05/20 16:41:26 INFO ResourceProfile: Default ResourceProfile created, executor resources: Map(cores -> name: cores, amount: 1, script: , vendor: , memory -> name: memory, amount: 20480, script: , vendor: , offHeap -> name: offHeap, amount: 0, script: , vendor: ), task resources: Map(cpus -> name: cpus, amount: 1.0)
22/05/20 16:41:26 INFO ResourceProfile: Limiting resource is cpu
22/05/20 16:41:26 INFO ResourceProfileManager: Added ResourceProfile id: 0
22/05/20 16:41:27 INFO SecurityManager: Changing view acls to: nikolay
22/05/20 16:41:27 INFO SecurityManager: Changing modify acls to: nikolay
22/05/20 16:41:27 INFO SecurityManager: Changing view acls groups to:
22/05/20 16:41:27 INFO SecurityManager: Changing modify acls groups to:
22/05/20 16:41:27 INFO SecurityManager: SecurityManager: authentication disabled; ui acls disabled; users  with view permissions: Set(nikolay); groups with view permissions: Set(); users  with modify permissions: Set(nikolay); groups with modify permissions: Set()
22/05/20 16:41:27 INFO Utils: Successfully started service 'sparkDriver' on port 35045.
22/05/20 16:41:27 INFO SparkEnv: Registering MapOutputTracker
22/05/20 16:41:27 INFO SparkEnv: Registering BlockManagerMaster
22/05/20 16:41:27 INFO BlockManagerMasterEndpoint: Using org.apache.spark.storage.DefaultTopologyMapper for getting topology information
22/05/20 16:41:27 INFO BlockManagerMasterEndpoint: BlockManagerMasterEndpoint up
22/05/20 16:41:27 INFO SparkEnv: Registering BlockManagerMasterHeartbeat
22/05/20 16:41:27 INFO DiskBlockManager: Created local directory at /tmp/blockmgr-05dc7532-ef03-4bec-822a-663b7fa4c89e
22/05/20 16:41:27 INFO MemoryStore: MemoryStore started with capacity 11.8 GiB
22/05/20 16:41:27 INFO SparkEnv: Registering OutputCommitCoordinator
22/05/20 16:41:27 INFO Utils: Successfully started service 'SparkUI' on port 4040.
22/05/20 16:41:27 INFO SparkUI: Bound SparkUI to 0.0.0.0, and started at http://192.168.1.3:4040
22/05/20 16:41:28 ERROR SparkContext: Failed to add postgresql-42.2.5.jar to Spark environment
java.io.FileNotFoundException: Jar /home/nikolay/Projects/tinkoff-invest/Collect_data/postgresql-42.2.5.jar not found
	at org.apache.spark.SparkContext.addLocalJarFile$1(SparkContext.scala:1935)
	at org.apache.spark.SparkContext.addJar(SparkContext.scala:1990)
	at org.apache.spark.SparkContext.$anonfun$new$12(SparkContext.scala:503)
	at org.apache.spark.SparkContext.$anonfun$new$12$adapted(SparkContext.scala:503)
	at scala.collection.mutable.ResizableArray.foreach(ResizableArray.scala:62)
	at scala.collection.mutable.ResizableArray.foreach$(ResizableArray.scala:55)
	at scala.collection.mutable.ArrayBuffer.foreach(ArrayBuffer.scala:49)
	at org.apache.spark.SparkContext.<init>(SparkContext.scala:503)
	at org.apache.spark.api.java.JavaSparkContext.<init>(JavaSparkContext.scala:58)
	at java.base/jdk.internal.reflect.NativeConstructorAccessorImpl.newInstance0(Native Method)
	at java.base/jdk.internal.reflect.NativeConstructorAccessorImpl.newInstance(NativeConstructorAccessorImpl.java:62)
	at java.base/jdk.internal.reflect.DelegatingConstructorAccessorImpl.newInstance(DelegatingConstructorAccessorImpl.java:45)
	at java.base/java.lang.reflect.Constructor.newInstance(Constructor.java:490)
	at py4j.reflection.MethodInvoker.invoke(MethodInvoker.java:247)
	at py4j.reflection.ReflectionEngine.invoke(ReflectionEngine.java:357)
	at py4j.Gateway.invoke(Gateway.java:238)
	at py4j.commands.ConstructorCommand.invokeConstructor(ConstructorCommand.java:80)
	at py4j.commands.ConstructorCommand.execute(ConstructorCommand.java:69)
	at py4j.ClientServerConnection.waitForCommands(ClientServerConnection.java:182)
	at py4j.ClientServerConnection.run(ClientServerConnection.java:106)
	at java.base/java.lang.Thread.run(Thread.java:829)
22/05/20 16:41:28 INFO SparkContext: Added file file:///home/nikolay/.ivy2/jars/org.postgresql_postgresql-42.2.5.jar at file:///home/nikolay/.ivy2/jars/org.postgresql_postgresql-42.2.5.jar with timestamp 1653054086830
22/05/20 16:41:28 INFO Utils: Copying /home/nikolay/.ivy2/jars/org.postgresql_postgresql-42.2.5.jar to /tmp/spark-bad37872-ed4d-488e-83fe-bc974367c072/userFiles-27c42906-b69c-4074-b6cb-73f136faee82/org.postgresql_postgresql-42.2.5.jar
22/05/20 16:41:28 INFO Executor: Starting executor ID driver on host 192.168.1.3
22/05/20 16:41:28 INFO Executor: Fetching file:///home/nikolay/.ivy2/jars/org.postgresql_postgresql-42.2.5.jar with timestamp 1653054086830
22/05/20 16:41:28 INFO Utils: /home/nikolay/.ivy2/jars/org.postgresql_postgresql-42.2.5.jar has been previously copied to /tmp/spark-bad37872-ed4d-488e-83fe-bc974367c072/userFiles-27c42906-b69c-4074-b6cb-73f136faee82/org.postgresql_postgresql-42.2.5.jar
22/05/20 16:41:28 INFO Utils: Successfully started service 'org.apache.spark.network.netty.NettyBlockTransferService' on port 38829.
22/05/20 16:41:28 INFO NettyBlockTransferService: Server created on 192.168.1.3:38829
22/05/20 16:41:28 INFO BlockManager: Using org.apache.spark.storage.RandomBlockReplicationPolicy for block replication policy
22/05/20 16:41:28 INFO BlockManagerMaster: Registering BlockManager BlockManagerId(driver, 192.168.1.3, 38829, None)
22/05/20 16:41:28 INFO BlockManagerMasterEndpoint: Registering block manager 192.168.1.3:38829 with 11.8 GiB RAM, BlockManagerId(driver, 192.168.1.3, 38829, None)
22/05/20 16:41:28 INFO BlockManagerMaster: Registered BlockManager BlockManagerId(driver, 192.168.1.3, 38829, None)
22/05/20 16:41:28 INFO BlockManager: Initialized BlockManager: BlockManagerId(driver, 192.168.1.3, 38829, None)
22/05/20 16:41:28 INFO SharedState: Setting hive.metastore.warehouse.dir ('null') to the value of spark.sql.warehouse.dir.
22/05/20 16:41:28 INFO SharedState: Warehouse path is 'file:/home/nikolay/Projects/tinkoff-invest/Collect_data/spark-warehouse'.
22/05/20 16:41:29 WARN SQLConf: The SQL config 'spark.sql.execution.arrow.enabled' has been deprecated in Spark v3.0 and may be removed in the future. Use 'spark.sql.execution.arrow.pyspark.enabled' instead of it.

In [2]:
hour = spark.createDataFrame(pd.read_parquet('all_candles_hour.parquet'))

In [9]:
min_15 = spark.createDataFrame(pd.read_parquet('all_candles_15min.parquet'))

In [11]:
min_5 = spark.createDataFrame(pd.read_parquet('all_candles_5min.parquet'))

In [13]:
min_1 = spark.createDataFrame(pd.read_parquet('all_candles_1min.parquet'))

In [5]:
mode = "overwrite"
url = "jdbc:postgresql://localhost:5432/shares"
properties = {"user": "nikolay","password": "Andone1","driver": "org.postgresql.Driver"}

In [6]:
hour

DataFrame[figi: string, time: timestamp, open: decimal(14,8), close: decimal(14,8), high: decimal(14,8), low: decimal(14,8), volume: double, is_complete: double]

In [7]:
hour.write.jdbc(url=url, table="candles_hour", mode=mode, properties=properties)

In [10]:
min_15.write.jdbc(url=url, table="candles_15min", mode=mode, properties=properties)

In [12]:
min_5.write.jdbc(url=url, table="candles_5min", mode=mode, properties=properties)

In [14]:
min_1.write.jdbc(url=url, table="candles_1min", mode=mode, properties=properties)

In [9]:
pd.read_parquet('debug/BBG000Q7GG57_hour_from_2022-02-21_to2022-05-20.parquet')

,figi,time,open,close,high,low,volume,is_complete
0,None,2022-02-22 07:00:00+00:00,0.00364500,0.00340000,0.00364500,0.00300500,954,True
1,None,2022-02-22 08:00:00+00:00,0.00339500,0.00337000,0.00349000,0.00332500,293,True
2,None,2022-02-22 09:00:00+00:00,0.00341500,0.00343500,0.00344000,0.00336500,56,True
3,None,2022-02-22 10:00:00+00:00,0.00344000,0.00346500,0.00346500,0.00340000,26,True
4,None,2022-02-22 11:00:00+00:00,0.00344000,0.00345500,0.00349000,0.00344000,39,True
...,...,...,...,...,...,...,...,...
4,None,2022-05-19 11:00:00+00:00,0.00356000,0.00356000,0.00356000,0.00356000,2,True
5,None,2022-05-19 12:00:00+00:00,0.00356500,0.00356500,0.00356500,0.00356500,13,True
6,None,2022-05-19 13:00:00+00:00,0.00355000,0.00356500,0.00356500,0.00355000,10,True
7,None,2022-05-19 14:00:00+00:00,0.00355000,0.00353500,0.00356000,0.00353500,43,True
8,None,2022-05-19 15:00:00+00:00,0.00355500,0.00355500,0.00356500,0.00355500,65,True